body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff,#EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

.data1 {
    background: #EFB0C9;
    padding: 5px 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

.data2 {
    background: #EFB0C9;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;

}

.img {
    width: 150px;
    border-radius: 10%;
    border: 4px solid #EFB0C9;
}

.fbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gift-section {
    margin-top: 50px;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px; 
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#holi:hover {
    background-image: url("images/holi.jpg");
}

#movie:hover {
    background-image: url("images/movie.jpg");
}

#mess:hover {
    background-image: url("images/mess.jpg");
}

#dark:hover {
    background-image: url("images/dark.jpg");
}

#friend:hover {
    background-image: url("images/friend.jpg");
}
.gift-hint {
    margin-top: 0px;
}

.gift-title {
    margin-bottom: 10px;
}

#footer {
    font-style: italic;
    font-size: large;
    width: 400px;
    margin: 40px auto 20px;
    text-shadow: 0px 0px 1px black;
}

a {
    color: white;
}